.charactersStyle{
    width: 100vw;
    background-color: black;
}
.allCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}
@media only screen and (min-width: 1200px) {
    .allCards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2em;
        justify-items: center;
    }
}